<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid justify-content-end">
        <a class="navbar-brand" href="">دنگ و دونگ</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable " onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GetTogethers">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> دورهمی بسازیم
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="participation">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> اضافه کردن دوستان به دورهمی
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expenses">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> اضافه کردن هزینه‌های دورهمی
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shares">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> حساب کتاب دورهمی
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settlements">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> تسویه دورهمی
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> گزارش مالی افراد
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="payment">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> تسویه کردن
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reportNew">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> گزارش کلی
            </NavLink>
        </div>

    </nav>
</div>

